.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/

/generated/prisma
dev.db
test-client.ts
*.db-wal
*.db-shm
# PM2 logs
/logs/*.log
/logs/*.pid

# Deployment
deploy.config.cjs
deploy.zip
deploy.cjs