.DS_Store
.env
.env.dev
/node_modules/

# React Router
/.react-router/
/build/

/generated/prisma
test-client.ts
# PM2 logs
/logs/*.log
/logs/*.pid

# Deployment
deploy.config.cjs
deploy.zip
deploy.cjs
production-build.tar.gz
.temp-build
files/